
#pic {
  width: 10%;
  height: 10%;    
}
ul li {
    display: inline;
    float: left;
    margin: 4mm;
    font-size: 12px;
    box-sizing: border-box;

}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 200px;
    margin-left: 100px;
  }

li a {
    display: block;
    color: black;
    text-align: center;
  }
li a:hover {
    background-color: white;

  }


li ul {
    display: none;
    background-color: wheat;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    align-items: center;
    margin-right: 6px;
    line-height: 24px;
    float: none;
    width: 100%;
    max-width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  
  }

  
li:hover ul {
    display: block;}


 