<!DOCTYPE html>
<html>
     <head>
         <link href="/assets/style.css" rel="stylesheet" type="text/css" />
     </head>
     <body>
         {{{body}}}
         <h1>PROFILE PAGE</h1>
         <p>>I am owner of this website.</p>
     </body>
</html>